@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap')
	;

body {
	width:1200px;
	font-family: 'Nanum Gothic', sans-serif;
	font-color: #212121;
}

a {
	text-decoration: none;
	font-color: #212121;
}

/* ----------------- main-menu ------------------ */
.top_menu {
	font-size: 12px;
	font-color: #212121;

	width: 100%;
	padding: 20px 20px 0px 20px;
	/*border-bottom: 1px solid #F2F2F2;*/
}

.top_menu .logo {
	display: inline-block;
	margin-right: 20px;
}

.top_menu .search {
	display: inline-block;
	margin-right: 30px;
	border-bottom: 2px solid #212121;
	text-align: center;
	margin: 0 auto;
	/* margin: 0 30%; */
}

.top_menu .search span input {
	width: 380px;
	height: 30px;
	border: 1px solid #ffffff;
}

.top_menu .user_action {
	display: inline-block;
}

.top_menu .user_action ul {
	display: inline-block;
}

.top_menu .user_action ul li {
	display: inline-block;
}

/* bottom_menu*/
.bottom_menu {
	width: 100%;
	font-size: 14px;
	font-color: #212121;
	display: inline-block;
}

.bottom_menu ul {
	list-style: none;
	margin: 0 100px;
	padding: 0px;
	display: inline-block;
}

.bottom_menu ul li {
	display: inline-block;
}

.bottom_menu ul li a {
	display: block;
	text-align: center;
	vertical-align: middle;
	padding: 15px 30px;
	text-decoration: none;
	font-color: #212121;
}

/* .Cart {
	display: inline-block;
	float: right;
	margin:auto;
} */

/* ----------------- contents ------------------ */
/* body .contents {
	margin-top: 120px;
	margin-bottom: 100px;
}
/* ----------------- main-slide ------------------ */
.container {
	min-width: 1600px;
	max-width: 1600px;
}

.carouselExampleIndicators {
	margin-top: 120px;
	margin-bottom: 100px;
	height: 600px;
	overflow: hidden;
}

.carouselExampleIndicators img {
	position: absolute;
	top: 0;
	left: 0;
	width:auto;
	height: 600px;
	-webkit-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	overflow: hidden;
}

/* -------------------- wrap --------------------- */
.wrap {
	overflow: hidden;
	width: 100%;
}
/* 
.first_wrap {
	height: 500px;
	margin: 20px auto;
}
*/
.first_wrap_i {
	/* height: 400px; */
	float: left;
	margin: 30px 0px;
}

.first_wrap_i a img {
	height: 300px;
}

.second_wrap {
	height: 500px;
}

.second_wrap_i {
	height: 500px;
	float: left;
}

.second_wrap_i a {
	text-align: center;
}

.second_wrap_i a img {
	height: auto;
	width: 300px;
	/* 	align-content: center; */
	margin-left: auto;
}