@import
	url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap')
	;

* {
	padding: 0;
	margin: 0;
	font-family: 'Nanum Gothic', monospace;
	font-size: 12px;
	color: #000000;
}

li {
	list-style: none;
}

a {
	text-decoration: none;
}

img {
	border: none;
}

table {
	border-collapse: collapse;
	border-spacing: 0px;
}

address {
	font-style: normal;
}

fieldset {
	border: none;
}

legend {
	position: absolute;
	left: -999em;
}

input[type=button], input[type=submit], input[type=reset], input[type=image],
	button {
	cursor: pointer;
}

label.away {
	position: absolute;
	left: -999em;
}

/* ----------------- body ------------------ */
body {
	font-family: 'Nanum Gothic', sans-serif;
	font-color: #212121;
	font-family: 'Nanum Gothic', sans-serif;
}

/* ----------------- layout ------------------ */
header {
	/* width: 100%;
	min-width: 1200px; */
	width: 1600px;
	height: 120px;
	margin: 0 auto;
	/* position: relative; */
}

/* #main_menu {
	width: 100%;
	min-width: 1200px;
	height: 120px;
	margin: 0 auto;
} */
footer {
	width: 100%;
	min-width: 1600px;
	height: 200px;
	overflow: hidden;
	padding: 10px;
	border-top: 1px solid #F2F2F2;
}

/* header */
.top_menu {
	font-size: 12px;
	font-color: #212121;
	width: 100%;
	padding: 20px 20px 0px 20px;
	/*border-bottom: 1px solid #F2F2F2;*/
}

.top_menu .logo {
	display: inline-block;
	margin-right: 20px;
}

.top_menu .search {
	display: inline-block;
	margin-right: 30px;
	border-bottom: 2px solid #212121;
	text-align: center;
	margin: 0 auto;
	/* margin: 0 30%; */
}

.top_menu .search span input {
	width: 380px;
	height: 30px;
	border: 1px solid #ffffff;
}

.top_menu .user_action {
	display: inline-block;
}

.top_menu .user_action ul {
	display: inline-block;
}

.top_menu .user_action ul li {
	display: inline-block;
}

.bottom_menu {
	width: 1200px;
	height: 50px;
	margin: 0 auto;
}

.bottom_menu>ul>li {
	float: left;
	width: 12.5%;
	height: 50px;
	text-align: center;
	line-height: 50px;
	position: relative;
}

.bottom_menu>ul>li>a {
	display: block;
	width: 100%;
	height: 100%;
	font-size: 16px;
	font-weight: bold;
}

.bottom_menu>ul>li>a:hover {
	color: #777777;
	box-sizing: border-box;
}

.bottom_menu>ul>li>a.on {
	color: #777777;
	box-sizing: border-box;
}

/* ----------------- contents ------------------ */

/* ----------------- main-slide ------------------ */
.carousel {
	height: 600px;
	width: 1600px;
	margin: 0 auto;
}

.carousel a img {
	margin: auto 0;
	height: 600px;
	width: auto;
}

/* -------------------- wrap --------------------- */
.wrap {
	overflow: hidden;
	width: 100%;
}

/* -------------------- first_wrap --------------------- */
.first_wrap {
	width: 1600px;
	height: 300px;
	margin: 50px auto;
}

.first_wrap li {
	float: left;
	width: 533px;
	height: 300px;
	margin-right: 0px;
}

.first_wrap .last {
	margin-right: 0;
}

.first_wrap a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

.first_wrap a img {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
}

/* -------------------- second_wrap --------------------- */
.second_wrap {
	width: 1600px;
	height: 400px;
	margin: 0 auto;
}


.second_wrap li {
	float: left;
	width: 300px;
	height: 400px;
	margin-right: 20px;
}

.second_wrap .last {
	margin-right: 0;
}

.second_wrap a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

.second_wrap a img {
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: 300px;
}

/* -------------------- third_wrap --------------------- */
.third_wrap {
	width: 1600px;
	height: 400px;
	margin: 0 auto;
}

.third_wrap li {
	float: left;
	width: 300px;
	height: 400px;
	margin-right: 20px;
}

.third_wrap .last {
	margin-right: 0;
}

.third_wrap a {
	display: block;
	width: 100%;
	height: 100%;
	position: relative;
}

.third_wrap a img {
	position: absolute;
	top: 0;
	left: 0;
	height: auto;
	width: 300px;
}

/* -------------------- login --------------------- */

/* -------------------- footer --------------------- */